$Purple1: #6930c4;
$Purple2: #bb95f8;
$Purple3: #653080;

$Pink: #ff6a8a;

$Black: #363636;

@mixin fontStyle($taille, $couleur, $format) {
  //1080p DEFAULT
  @if ($format == "default") {
    @if ($taille == "petit") {
      font-size: 20pt;
    } @else if($taille == "moyen") {
      font-size: 30pt;
    } @else if($taille == "grand") {
      font-size: 45pt;
    } @else {
      font-size: $taille;
    }
  }
  //1600p Horizontale
  @else if($format == 1600) {
    @if ($taille == "petit") {
      font-size: 17pt;
    } @else if($taille == "moyen") {
      font-size: 25pt;
    } @else if($taille == "grand") {
      font-size: 40pt;
    } @else {
      font-size: $taille;
    }
  }
  //1400p Horizontale
  @else if($format == 1400) {
    @if ($taille == "petit") {
      font-size: 15pt;
    } @else if($taille == "moyen") {
      font-size: 18pt;
    } @else if($taille == "grand") {
      font-size: 35pt;
    } @else {
      font-size: $taille;
    }
  }
  //1200p Horizontale
  @else if($format == 1200) {
    @if ($taille == "petit") {
      font-size: 13pt;
    } @else if($taille == "moyen") {
      font-size: 16pt;
    } @else if($taille == "grand") {
      font-size: 32pt;
    } @else {
      font-size: $taille;
    }
  }

  font-family: "mainFont";

  text-decoration: none !important;
  color: $couleur;

  a {
    z-index: 50;
  }

  h1,
  h2,
  h3 {
    font-weight: normal !important;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    white-space: nowrap;
  }

  strong {
    font-weight: normal !important;
    color: $Pink;
  }

  button {
    all: unset;
    display: inline-block;
    cursor: pointer;

    position: absolute;
    top: 0;
    left: 95%;
  }
}

@font-face {
  font-family: "mainFont";
  src: url("../style/MonumentExtended-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
