@import "font";

.glowing {
  filter: drop-shadow(0 0 15px $Purple3) drop-shadow(0 0 30px $Purple2);
}

a:hover {
  color: $Pink !important;
  filter: drop-shadow(0 0 15px $Purple3) drop-shadow(0 0 30px $Purple2);
}

.glowBox .item:hover {
  filter: drop-shadow(0 0 15px $Purple3) drop-shadow(0 0 30px $Purple2);
  border: 5px solid $Pink !important;
}

.popup-images {
  .popup-img:hover {
    filter: drop-shadow(0 0 15px $Purple3) drop-shadow(0 0 30px $Purple2);
  }
}
