$Purple1: #6930c4;
$Purple2: #bb95f8;
$Purple3: #653080;

$Pink: #ff6a8a;

$Black: #363636;

/* Tablets (landscape) */
@media (max-width: 992px) {
}

/* Tablets (portrait) / small laptops */
@media (max-width: 768px) {
}

/* Phones */
@media (max-width: 576px) {
}

@mixin police-style($taille, $couleur, $format) {
  //2k 125%WinZoom DEFAULT
  @if ($format == "default") {
    @if ($taille == "petit") {
      font-size: 20pt;
    } @else if($taille == "moyen") {
      font-size: 35pt;
    } @else if($taille == "grand") {
      font-size: 55pt;
    } @else {
      font-size: $taille;
    }
  }
  //1080p
  @else if($format == 1950) {
    @if ($taille == "petit") {
      font-size: 20pt;
    } @else if($taille == "moyen") {
      font-size: 25pt;
    } @else if($taille == "grand") {
      font-size: 40pt;
    } @else {
      font-size: $taille;
    }
  }
  //MacBook Pro
  @else if($format == 1450) {
    @if ($taille == "petit") {
      font-size: 15pt;
    } @else if($taille == "moyen") {
      font-size: 20pt;
    } @else if($taille == "grand") {
      font-size: 35pt;
    } @else {
      font-size: $taille;
    }
  }
  //Ipad Vertical
  @else if($format == 770) {
    @if ($taille == "petit") {
      font-size: 15pt;
    } @else if($taille == "moyen") {
      font-size: 20pt;
    } @else if($taille == "grand") {
      font-size: 30pt;
    } @else {
      font-size: $taille;
    }
  }
  //Iphone 12 Pro
  @else if($format == 500) {
    @if ($taille == "petit") {
      font-size: 12pt;
    } @else if($taille == "moyen") {
      font-size: 15pt;
    } @else if($taille == "grand") {
      font-size: 25pt;
    } @else {
      font-size: $taille;
    }
  }

  color: $couleur !important;
}

@font-face {
  font-family: "mainFont";
  src: url("../style/MonumentExtended-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

h1,
h2,
h3,
h4,
a {
  font-weight: normal;
  text-decoration: none;
  color: $Purple1;
}

body {
  overflow-x: hidden;
  margin: 0;
  font-family: "mainFont";
}

section {
  width: 100%;
  height: 1080px;

  background-position: center;

  overflow: hidden;
}

.acceuil,
.projects,
.contact {
  background-color: $Purple1;

  width: 100%;

  background-image: url("../images/bg1.png");
}

.headerBar {
  height: 55px;
  background-color: $Purple2;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.headerBar a {
  text-decoration: none;
  margin-top: 10px;
}

.aboutMe,
.skills {
  background-color: $Purple3;

  width: 100%;

  background-image: url("../images/bg2.png");
}

.underTitle {
  margin-top: 190px;
}

.title {
  position: absolute;
  top: 240px;
  left: 240px;
  z-index: 4;
}

.titleStar {
  position: absolute;
  top: 80px;
  left: 130px;
  z-index: 0;
}

.miniMe {
  position: absolute;
  left: 1360px;
  top: 350px;
  z-index: 3;
}

.miniS {
  position: absolute;
  z-index: 4;
  top: 690px;
  left: -50px;
}

.prop1 {
  position: absolute;

  top: 1600px;
  left: 100px;
  z-index: 2;
}

.path1 {
  position: absolute;

  top: 1050px;
  left: 180px;
  z-index: 1;
}
.path2 {
  position: absolute;

  top: 1920px;
  left: 280px;
  z-index: 1;
}

.miniR {
  position: absolute;

  z-index: 2;

  top: 2250px;
  left: 1400px;
}

.miniRP {
  position: absolute;

  z-index: 6;

  top: 2465px;
  left: 1400px;
}

.path3 {
  position: absolute;

  top: 2950px;
  left: 220px;
  z-index: 1;
}

.scrollingText {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  top: 3650px;

  width: 100%;
  height: 120px;
  background-color: $Purple1;

  z-index: 5;
}

.path4 {
  position: absolute;

  top: 4050px;
  left: 100px;
  z-index: 3;
}

.miniL {
  position: absolute;

  z-index: 1;

  top: 4380px;
  left: 1320px;
}

.endStar {
  position: absolute;
  top: 4500px;
  left: 50px;
  z-index: 0;
}

.miniL1 {
  position: absolute;

  z-index: 4;

  top: 4380px;
  left: 1390px;
}

.miniL2 {
  position: absolute;

  z-index: 1;

  top: 4612px;
  left: 1220px;
}

.miniL3 {
  position: absolute;

  z-index: 5;

  top: 4300px;
  left: 1320px;

  opacity: 0;
}

//rainbow text

.rainbow-link {
  @include police-style("moyen", $Black, "default");
  text-decoration: none;
  display: flex;
  gap: 2px;
  transition: 0.3s ease;
}

.rainbow-link span {
  transition: 0.3s ease;
  filter: brightness(1);
}

.rainbow-link:hover span {
  color: var(--rainbow-color); // prend la couleur dynamique uniquement au hover
  animation: glow 0.6s ease forwards;
  animation-delay: calc(var(--distance, 0) * 0.1s);
}

@keyframes glow {
  0% {
    filter: brightness(0.5);
  }
  50% {
    filter: brightness(0.5) drop-shadow(0 0 10px currentColor);
  }
  100% {
    filter: brightness(0.5);
  }
}
/* jumpy text*/

.jumpy-letter {
  display: inline-block;
  animation: jumpy 1.2s ease-in-out infinite;
  letter-spacing: 0px;
}

@keyframes jumpy {
  0%,
  100% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(0);
  }
}

.jumpy-gap {
  display: inline-block;
  width: 100px; // ajuste la largeur selon l’effet visuel que tu veux
}

//Carousel

.carouselContainer {
  max-width: 100vw;
  position: absolute;
  top: 2500px;
  z-index: 5;
}

#carousel1 .item {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 420px;
  height: 420px;
  border-radius: 10px;
  border: 5px solid $Purple2;
  background: $Purple2;

  cursor: pointer;
}

#carousel1 .item img {
  width: auto;
  height: 400px;
}
.carouselTrack {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;

  gap: 2rem; //ICI!
}

.carouselContainer[data-animated="true"] {
  overflow: hidden;
  padding: 10px 0 10px 0;
  background: $Black;
}

[data-animated="true"] .carouselTrack {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll 30s linear infinite;
}

[data-animated="true"] .carouselTrack:hover {
  animation-play-state: paused;
}

.carouselTrack .item:hover {
  border: 5px solid $Purple1 !important;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 1rem)); //MOITIER DU GAP DE carouselTrack
  }
}

//Carousel2

#carousel2 {
  top: 3650px;
}

#carousel2 .item {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 300px;
  height: 50px;
  border-radius: 10px;

  background: $Purple2;
}

.carouselContainer .carouselTrack2 {
  @include police-style("moyen", $Purple3, "default");
}

[data-animated="true"] .carouselTrack2 {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll2 25s linear infinite;
}

.carouselTrack2 {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;

  gap: 2rem; //ICI!
}

@keyframes scroll2 {
  to {
    transform: translate(calc(-50% - 1rem)); //MOITIER DU GAP DE carouselTrack
  }
}

//Carousel 3

#carousel3 {
  top: 3850px;
}

#carousel3 .item {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 200px;
  height: 200px;
  border-radius: 50px;

  background: $Purple2;
}

[data-animated="true"] .carouselTrack3 {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll3 20s linear infinite;
}

.carouselTrack3 {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;

  gap: 2rem; //ICI!
}

@keyframes scroll3 {
  to {
    transform: translate(calc(-50% - 1rem)); //MOITIER DU GAP DE carouselTrack
  }
}

//popup project

.popup {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 9999;
}

.popup.active {
  opacity: 1;
  pointer-events: auto;
}

.popup-content {
  background: rgb(25, 24, 24);
  padding: 30px;
  border-radius: 12px;
  max-width: 80vw;
  height: 80vh;
  text-align: center;
  color: #bb95f8;
  position: relative;

  display: flex;
  justify-content: space-around;
}

.popup-text {
  width: 40%;
  text-align: left;
}

.popup-text h2 {
  @include police-style("grand", $Purple2, "default");
}

.popup-text h2 strong {
  @include police-style("moyen", $Purple1, "default");
}

.popup-text h3 {
  @include police-style("moyen", $Purple1, "default");
}

.popup-text p {
  line-height: 30px;
  @include police-style("petit", $Black, "default");
}

.popup-text p strong {
  font-weight: normal;

  @include police-style("petit", $Purple1, "default");
}
.popup-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  width: 35%;

  border-radius: 30px;
}

.popup-images img {
  width: 90%;
  border-radius: 5px;
}

.close-btnProject {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;

  @include police-style("grand", $Purple2, "default");

  cursor: pointer;
}

//fade in effect

.miniMe {
  animation: fade-in-right 2s linear;
}

.miniS {
  animation: fade-in-left 2s linear;
}

.prop1 {
  animation: fade-in-left linear;
  animation-timeline: view();
  animation-range-start: cover;
  animation-range-end: 350px;
}

.miniR,
.miniRP {
  animation: fade-in-right linear;
  animation-timeline: view();
  animation-range-start: cover;
  animation-range-end: 350px;
}

@keyframes fade-in-left {
  from {
    transform: translateX(-200px);

    opacity: 0.2;
  }
  to {
    transform: translateX(0px);

    opacity: 1;
  }
}

@keyframes fade-in-right {
  from {
    transform: translateX(200px);

    opacity: 0.2;
  }
  to {
    transform: translateX(0px);

    opacity: 1;
  }
}

//text

.acceuil h2,
.aboutMe h2,
.aboutMe p,
.projects h2,
.skills h2,
.contact h2,
.contact h3 {
  position: absolute;
  font-size: 55px;
  z-index: 4;
}

#underTitle1,
.highlight1,
#codeAnimation {
  top: 190px;
  left: 690px;
}

#underTitle2,
.highlight2,
#magicAnimation {
  top: 270px;
  left: 690px;
}

#codeAnimation,
#magicAnimation {
  color: $Purple2;
  left: 975px;

  z-index: 5;
}
.underTitle3,
.highlight3 {
  top: 700px;
  left: 415px;
  color: $Purple2;
}

#underTitle4,
.highlight4 {
  top: 1200px;
  left: 400px;
}

#underTitle5,
.highlight5 {
  top: 1400px;
  left: 750px;

  @include police-style("petit", $Black, "default");
  line-height: 40px;
  color: $Purple2;
}

#underTitle6,
.highlight6 {
  top: 2300px;
  left: 750px;
}

#underTitle7,
.highlight7 {
  top: 3400px;
  left: 1200px;
}

#underTitle8,
.highlight8 {
  top: 4500px;
  left: 200px;
  z-index: 5;
}

#underTitle9,
.highlight9 {
  top: 4700px;
  left: 400px;

  @include police-style(25pt, $Purple2, "default");

  z-index: 3;
}

#underTitle10,
.highlight10 {
  top: 4800px;
  left: 400px;

  @include police-style(25pt, $Purple2, "default");

  z-index: 5;
}

#underTitle9 a,
#underTitle10 a {
  color: $Purple2;
}

//highlight effect

.highlight1,
.highlight2,
.highlight3,
.highlight4,
.highlight5,
.highlight6,
.highlight7,
.highlight8,
.highlight9,
.highlight10 {
  position: absolute;
  z-index: 3;

  height: 70px;

  background: $Purple3;

  margin-top: 42px;
}

.leftHighlight {
  transform: translateX(-50vw);
  left: 0;
}

.rightHighlight {
  transform: translateX(50vw);
}

#colorChange {
  background: $Purple1;
}

.highlight1 {
  width: 65vw;
}

.highlight2 {
  width: 70vw;
  left: 30vw;
}

.highlight3 {
  width: 66.5vw;
}

.highlight4 {
  width: 44vw;
}

.highlight5 {
  width: 69vw;
  height: 330px;
  left: 31vw;
  top: 1375px;
}

.highlight6 {
  width: 65vw;
}

.highlight7 {
  width: 47vw;
  left: 53vw;
}

.highlight8 {
  width: 37.5vw;

  z-index: 4;
}

.highlight9 {
  width: 58.5vw;
  top: 4675px;

  z-index: 2;
}
.highlight10 {
  width: 55.5vw;
  top: 4775px;
  z-index: 4;
}

//fix test

.carouselContainer {
  display: none;
}

.carouselContainer.show {
  display: block;
}

//pathObjects
#pathItem1 {
  position: absolute;
  z-index: 1;
  top: 900px;
  left: 100px;

  opacity: 0;
}

#pathItem2 {
  position: absolute;
  z-index: 1;
  top: 1800px;
  left: 200px;

  opacity: 0;
}

#pathItem3 {
  position: absolute;
  z-index: 1;
  top: 2820px;
  left: 140px;
  opacity: 0;
}

#pathItem4 {
  position: absolute;
  z-index: 3;
  top: 3920px;
  left: 0px;
}
//skills effect

.candyPulseHover:hover {
  animation: pulseCandy 2s infinite;
}

@keyframes pulseCandy {
  0% {
    box-shadow: 0 0 0 0 $Purple3;
  }
  70% {
    box-shadow: 0 0 0 30px rgba(91, 31, 71, 0);
  }
  100% {
    box-shadow: 0 0 0 0 $Black;
  }
}

//RESPONSIVE

/* Large desktops 1080p*/
@media (max-width: 1950px) {
  .highlight5 {
    height: 40vh;
  }

  //FONT
  .rainbow-link {
    @include police-style("moyen", $Black, 1950);
  }

  .carouselContainer .carouselTrack2 {
    @include police-style("moyen", $Purple3, 1950);
  }

  .popup-text h2 {
    @include police-style("grand", $Purple2, 1950);
  }

  .popup-text h2 strong {
    @include police-style("moyen", $Purple1, 1950);
  }

  .popup-text h3 {
    @include police-style("moyen", $Purple1, 1950);
  }

  .popup-text p {
    @include police-style(15pt, $Black, 1950);
  }

  .popup-text p strong {
    @include police-style(15pt, $Purple1, 1950);
  }

  .close-btnProject {
    @include police-style("grand", $Purple2, 1950);
  }

  #underTitle5,
  .highlight5 {
    @include police-style("petit", $Purple2, 1950);
  }

  #underTitle9,
  .highlight9 {
    @include police-style(25pt, $Purple2, 1950);
  }

  #underTitle10,
  .highlight10 {
    @include police-style(25pt, $Purple2, 1950);
  }

  .acceuil h2,
  .aboutMe h2,
  .aboutMe p,
  .projects h2,
  .skills h2,
  .contact h2,
  .contact h3 {
    margin-top: 50px;
    font-size: 42px;
  }
}

/* Medium desktops MacBook Pro */
@media (max-width: 1450px) {
  .acceuil {
    img {
      position: absolute;
      left: -15vw;
      top: -5vh;
    }
  }

  section {
    height: 120vh;
    width: 50vw;
  }

  .miniS {
    left: -9vw;
    top: 78vh;
  }

  .miniMe {
    left: 60vw;
    top: 45vh;
  }

  .miniR {
    left: 72vw;
  }

  .miniRP {
    left: 72vw;
  }

  .acceuil img,
  .miniMe,
  .miniS,
  .miniR,
  .miniRP {
    transform: scale(88%) !important;
  }

  .title img {
    top: 5vh;
  }

  .path1,
  .path2,
  .path3,
  .path4 {
    left: -14vw !important;
  }

  #pathItem1,
  #pathItem2,
  #pathItem3,
  #pathItem4 {
    left: -17vw !important;
  }

  .miniL,
  .miniL1,
  .miniL3 {
    left: 75vw;
  }

  .miniL1 {
    left: 80vw;
  }

  .miniL2 {
    left: 68vw;
  }

  .endStar {
    left: -10vw;
  }

  //MOT//

  #underTitle1 {
    left: 34vw;
  }
  #underTitle2 {
    left: 33vw;
  }

  #magicAnimation {
    left: 51vw;
  }

  .underTitle3 {
    left: 19vw;
  }

  #underTitle5 {
    left: 35vw;
  }

  #underTitle6 {
    left: 40vw;
  }

  #underTitle7 {
    left: 65vw;
  }

  #underTitle8 {
    left: 6vw;
  }

  #underTitle9,
  #underTitle10 {
    left: 10vw;
  }

  #underTitle9 {
    top: 520.5vh;
  }

  #underTitle10 {
    top: 531.5vh;
  }

  //HIGHLIGHT

  .highlight3 {
    width: 70vw;
  }

  .highlight4 {
    width: 55vw;
  }

  .highlight5 {
    height: 42vh;
  }

  .highlight6 {
    width: 75vw;
  }

  //FONT//

  .rainbow-link {
    @include police-style("moyen", $Black, 1450);
  }

  .carouselContainer .carouselTrack2 {
    @include police-style("moyen", $Purple3, 1450);
  }

  .popup-text h2 {
    @include police-style("grand", $Purple2, 1450);
  }

  .popup-text h2 strong {
    @include police-style("moyen", $Purple1, 1450);
  }

  .popup-text h3 {
    @include police-style("moyen", $Purple1, 1450);
  }

  .popup-text p {
    @include police-style(10pt, $Black, 1450);
  }

  .popup-text p strong {
    @include police-style(10pt, $Purple1, 1450);
  }

  .close-btnProject {
    @include police-style("grand", $Purple2, 1450);
  }

  #underTitle5,
  .highlight5 {
    @include police-style("petit", $Purple2, 1450);
  }

  #underTitle9,
  .highlight9 {
    @include police-style(25pt, $Purple2, 1450);
  }

  #underTitle10,
  .highlight10 {
    @include police-style(25pt, $Purple2, 1450);
  }

  .acceuil h2,
  .aboutMe h2,
  .aboutMe p,
  .projects h2,
  .skills h2,
  .contact h2,
  .contact h3 {
    margin-top: 50px;
    font-size: 45px;
  }
}

/* Tablets (landscape) Ipad */
@media (max-width: 1025px) {
  section {
    height: 140vh;
    width: 50vw;
  }

  .miniS {
    left: -12vw;
    top: 95vh;
  }

  .miniMe {
    left: 58vw;
    top: 57vh;
  }

  .acceuil img,
  .titleStar,
  .endStar,
  .miniMe,
  .miniS,
  .prop1 {
    transform: scale(75%) !important;
  }

  .title img {
    top: -10vh;
    left: -38vw;
  }

  .titleStar {
    top: 3vh;
    left: 0vw;
  }

  .path1 {
    left: -20vw !important;
  }

  #pathItem1 {
    left: -28vw !important;
  }

  .path4 {
    left: -35vw !important;
  }

  #pathItem4 {
    left: -43vw !important;
  }

  .prop1 {
    left: -5vw;
  }

  .popup-text {
    width: 100%;
    text-align: left;
  }

  .popup-content {
    flex-direction: column;
    align-items: center;
  }

  .popup-images img {
    transform: scale(85%);
  }

  .popup-images {
    flex-direction: row;
    gap: 5vw;
  }

  .miniL,
  .miniL1,
  .miniL3 {
    left: 75vw;
    top: 565vh;
  }

  .miniL1 {
    left: 81vw;
    top: 565vh;
  }

  .miniL2 {
    left: 65vw;
    top: 595vh;
  }
  .miniL3 {
    left: 75vw;
    top: 555vh;
  }

  .endStar {
    left: -20vw;
    top: 565vh;
  }

  //MOT//

  #underTitle1 {
    left: 27vw;
    top: 18vh;
  }
  #underTitle2 {
    left: 26vw;
    top: 28vh;
  }

  #magicAnimation {
    left: 51vw;
    top: 28vh;
  }

  .underTitle3 {
    left: 10vw;
    top: 78vh;
  }

  #underTitle5 {
    left: 35vw;
  }

  #underTitle6 {
    left: 40vw;
  }

  #underTitle7 {
    left: 65vw;
  }

  #underTitle8 {
    left: 6vw;
  }

  #underTitle9,
  #underTitle10 {
    left: 10vw;
  }

  #underTitle9 {
    top: 610vh;
  }

  #underTitle10 {
    top: 622.5vh;
  }

  //HIGHLIGHT

  .highlight1 {
    top: 18vh;
    width: 70vw;
  }

  .highlight2 {
    top: 28vh;
    width: 80vw;
    left: 20vw;
  }

  .highlight3 {
    width: 80vw;
    top: 78vh;
  }

  .highlight4 {
    width: 75vw;
  }

  .highlight5 {
    height: 72vh;
  }

  .highlight6 {
    width: 85vw;
  }

  .highlight8 {
    width: 48vw;
  }

  .highlight9,
  .highlight10 {
    width: 80vw;
  }
}

/* Tablets (portrait) Ipad / small laptops */
@media (max-width: 770px) {
  section {
    height: 106vh;
  }

  .title img {
    transform: scale(55%) !important;
    left: -68vw;
    top: -7vh;
  }

  .titleStar {
    transform: scale(100%) !important;
    left: -8vw;
  }

  .miniS {
    left: -9vw;
    top: 71vh;
  }

  .miniMe {
    left: 40vw;
    top: 45vh;
  }

  .popup-images img {
    transform: scale(120%);
    margin: 2vw;
  }

  .path1,
  .path2,
  .path3,
  .path4 {
    left: -74vw !important;
  }

  #pathItem1,
  #pathItem2,
  #pathItem3,
  #pathItem4 {
    left: -92vw !important;
  }

  .miniL,
  .miniL1,
  .miniL3 {
    left: 65vw;
    top: 430vh;
  }

  .miniL1 {
    left: 74vw;
    top: 430vh;
  }

  .miniL2 {
    left: 51vw;
    top: 453vh;
  }

  .miniL3 {
    top: 422vh;
  }

  .endStar {
    left: -30vw;
    top: 425vh;
  }

  //MOT//

  #underTitle1 {
    left: 25vw;
  }
  #underTitle2 {
    left: 24vw;
  }

  #magicAnimation {
    left: 51vw;
  }

  .underTitle3 {
    left: 2vw;
    top: 55vh;
  }

  #underTitle5 {
    left: 35vw;
  }

  #underTitle6 {
    left: 40vw;
  }

  #underTitle7 {
    left: 65vw;
  }

  #underTitle8 {
    left: 6vw;
  }

  #underTitle9,
  #underTitle10 {
    left: 10vw;
  }

  #underTitle9 {
    top: 457.5vh;
    left: 5vw;
  }

  #underTitle10 {
    top: 467vh;
    left: 5vw;
  }

  //HIGHLIGHT

  .highlight3 {
    top: 55vh;
    width: 84vw;
  }

  .highlight4 {
    width: 90vw;
  }

  .highlight5 {
    height: 68vh;
  }

  .highlight6 {
    width: 85vw;
  }

  .highlight9 {
    width: 100vw;
    left: 50vw;
  }

  .highlight10 {
    width: 100vw;
    left: 50vw;
  }

  //FONT//

  .rainbow-link {
    @include police-style("moyen", $Black, 770);
  }

  .carouselContainer .carouselTrack2 {
    @include police-style("moyen", $Purple3, 770);
  }

  .popup-text h2 {
    @include police-style("grand", $Purple2, 770);
  }

  .popup-text h2 strong {
    @include police-style("moyen", $Purple1, 770);
  }

  .popup-text h3 {
    @include police-style("moyen", $Purple1, 770);
  }

  .popup-text p {
    @include police-style(10pt, $Black, 770);
  }

  .popup-text p strong {
    @include police-style(10pt, $Purple1, 770);
  }

  .close-btnProject {
    @include police-style("grand", $Purple2, 770);
  }

  #underTitle5,
  .highlight5 {
    @include police-style("petit", $Purple2, 770);
  }

  #underTitle9,
  .highlight9 {
    @include police-style(25pt, $Purple2, 770);
  }

  #underTitle10,
  .highlight10 {
    @include police-style(25pt, $Purple2, 770);
  }

  .acceuil h2,
  .aboutMe h2,
  .aboutMe p,
  .projects h2,
  .skills h2,
  .contact h2,
  .contact h3 {
    margin-top: 50px;
    font-size: 38px;
  }
}

/* Phones  Iphone 12 Pro*/
@media (max-width: 500px) {
  section {
    height: 132vh;
  }

  .headerBar {
    display: flex;
    flex-wrap: wrap;
    gap: 5vw;
    height: fit-content;
    justify-content: space-between;
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .title img {
    transform: scale(28%) !important;
    left: -182vw;
    top: -15vh;
  }

  .titleStar {
    transform: scale(78%) !important;
    left: -175vw;
    top: 5vh;
  }

  .miniS {
    left: -55vw;
    top: 96vh;

    transform: scale(55%) !important;
  }

  .miniMe {
    transform: scale(50%) !important;
    left: -20vw;
    top: 68vh;
  }

  .miniR,
  .miniRP {
    transform: scale(70%) rotate(180deg) !important;
  }

  .miniR {
    left: -30vw;
    top: 335vh;
  }

  .miniRP {
    left: 72vw;
    top: 350vh;
  }

  .path1,
  .path2,
  .path3,
  .path4 {
    display: none;
  }

  #pathItem1,
  #pathItem2,
  #pathItem3,
  #pathItem4 {
    display: none;
  }
  .prop1 {
    display: none;
  }

  .popup-images img:hover {
    border: red solid 5px;
  }

  .miniL,
  .miniL1,
  .miniL3 {
    left: -15vw;
    top: 565vh;
    transform: scale(60%) !important;
  }

  .miniL1 {
    display: none;
  }

  .miniL2 {
    display: none;
  }

  .miniL3 {
    opacity: 1;
    left: -5.5vw;
    top: 575vh;
  }

  .endStar {
    left: 10vw;
    top: 430vh;
  }

  //MOT//

  #underTitle1 {
    left: 5vw;
    top: 19vh;
  }
  #underTitle2 {
    left: 24vw;
    top: 29vh;
  }

  #magicAnimation {
    left: 65vw;
    top: 29vh;
  }

  .underTitle3 {
    left: 2vw;
    top: 75vh;
  }

  #underTitle4 {
    left: 10vw;
    top: 143.5vh;
  }

  #underTitle5 {
    left: 5vw;
    width: 90vw;
  }

  #underTitle6 {
    left: 10vw;
    width: 100%;
    top: 274vh;
  }

  #underTitle7 {
    left: 45vw;
    width: 100%;
    top: 404vh;
  }

  #underTitle8 {
    left: 6vw;
    top: 534.5vh;
  }

  #underTitle9,
  #underTitle10 {
    left: 10vw;
    font-size: 14pt !important;
  }

  #underTitle9 {
    top: 556vh;
    left: 2vw;
  }

  #underTitle10 {
    top: 567.5vh;
    left: 6vw;
  }

  //HIGHLIGHT
  .highlight1 {
    width: 75vw;
  }

  .highlight3 {
    top: 75vh;
    width: 84vw;
    height: 10vh;
  }

  .highlight4 {
    width: 90vw;
  }

  .highlight5 {
    height: 90vh;
    width: 100vw;
    left: 0vw;
  }

  .highlight6 {
    width: 85vw;
  }

  .highlight7 {
    width: 120vw;
    left: 30vw;
  }

  .highlight8 {
    width: 80vw;
  }

  .highlight9 {
    width: 100vw;
    left: 50vw;
  }

  .highlight10 {
    width: 100vw;
    left: 50vw;
  }

  //FONT//

  .rainbow-link {
    @include police-style("moyen", $Black, 500);
  }

  .carouselContainer .carouselTrack2 {
    @include police-style("moyen", $Purple3, 500);
  }

  .popup-text h2 {
    @include police-style("grand", $Purple2, 500);
  }

  .popup-text h2 strong {
    @include police-style("moyen", $Purple1, 500);
  }

  .popup-text h3 {
    @include police-style("moyen", $Purple1, 500);
  }

  .popup-text p {
    @include police-style(10pt, $Black, 500);
    line-height: 18px;
  }

  .popup-text p strong {
    @include police-style(10pt, $Purple1, 500);
  }

  .close-btnProject {
    @include police-style("grand", $Purple2, 500);
  }

  #underTitle5,
  .highlight5 {
    @include police-style("petit", $Purple2, 500);
  }

  #underTitle9,
  .highlight9 {
    @include police-style(25pt, $Purple2, 500);
  }

  #underTitle10,
  .highlight10 {
    @include police-style(25pt, $Purple2, 500);
  }

  .acceuil h2,
  .aboutMe h2,
  .aboutMe p,
  .projects h2,
  .skills h2,
  .contact h2,
  .contact h3 {
    margin-top: 50px;
    font-size: 30px;
  }
}
