$Purple1: #6930c4;
$Purple2: #bb95f8;
$Purple3: #653080;

$Black: #363636;

/* TESTER VIEW

* {
  outline: 1px solid limegreen; 

}
  */

@font-face {
  font-family: "mainFont";
  src: url("../style/MonumentExtended-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

h1,
h2,
h3,
h4,
a {
  font-weight: normal;
  text-decoration: none;
  color: $Purple1;
}

body {
  overflow-x: hidden;
  margin: 0;
  font-family: "mainFont";
}

section {
  width: 100%;
  height: 1080px;

  background-position: center;

  overflow: hidden;
}

.acceuil,
.projects,
.contact {
  background-color: $Purple1;

  width: 100%;

  background-image: url("../images/bg1.png");
}

.headerBar {
  height: 55px;
  background-color: $Purple2;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.headerBar a {
  color: $Black;
  text-decoration: none;
  font-size: 35px;

  margin-top: 10px;
}

.aboutMe,
.skills {
  background-color: $Purple3;

  width: 100%;

  background-image: url("../images/bg2.png");
}

.underTitle {
  margin-top: 190px;
}

.title {
  position: absolute;
  top: 240px;
  left: 240px;
  z-index: 4;
}

.titleStar {
  position: absolute;
  top: 80px;
  left: 130px;
  z-index: 0;
}

.miniMe {
  position: absolute;
  left: 1360px;
  top: 350px;
  z-index: 3;
}

.miniS {
  position: absolute;
  z-index: 4;
  top: 690px;
  left: -50px;
}

.prop1 {
  position: absolute;

  top: 1600px;
  left: 100px;
  z-index: 2;
}

.path1 {
  position: absolute;

  top: 1050px;
  left: 180px;
  z-index: 1;
}
.path2 {
  position: absolute;

  top: 1920px;
  left: 280px;
  z-index: 1;
}

.miniR {
  position: absolute;

  z-index: 2;

  top: 2250px;
  left: 1400px;
}

.miniRP {
  position: absolute;

  z-index: 5;

  top: 2465px;
  left: 1400px;
}

.path3 {
  position: absolute;

  top: 2950px;
  left: 220px;
  z-index: 1;
}

.scrollingText {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  top: 3650px;

  width: 100%;
  height: 120px;
  background-color: $Purple1;

  z-index: 5;
}

.scrollingTextInner {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $Black;
  width: 100%;

  height: 70px;
  font-size: 35px;
  color: $Purple2;
}

.path4 {
  position: absolute;

  top: 4050px;
  left: 100px;
  z-index: 3;
}

.miniL {
  position: absolute;

  z-index: 1;

  top: 4380px;
  left: 1320px;
}

.endStar {
  position: absolute;
  top: 4500px;
  left: 50px;
  z-index: 0;
}

.miniL1 {
  position: absolute;

  z-index: 4;

  top: 4380px;
  left: 1390px;
}

.miniL2 {
  position: absolute;

  z-index: 1;

  top: 4612px;
  left: 1220px;
}

.miniL3 {
  position: absolute;

  z-index: 5;

  top: 4300px;
  left: 1320px;

  opacity: 0;
}

//rainbow text

.rainbow-link {
  font-size: 35px;
  text-decoration: none;
  display: flex;
  gap: 2px;
  transition: 0.3s ease;
}

.rainbow-link span {
  color: $Black; // noir par défaut
  transition: 0.3s ease;
  filter: brightness(1);
}

.rainbow-link:hover span {
  color: var(--rainbow-color); // prend la couleur dynamique uniquement au hover
  animation: glow 0.6s ease forwards;
  animation-delay: calc(var(--distance, 0) * 0.1s);
}

@keyframes glow {
  0% {
    filter: brightness(0.5);
  }
  50% {
    filter: brightness(0.5) drop-shadow(0 0 10px currentColor);
  }
  100% {
    filter: brightness(0.5);
  }
}
/* jumpy text*/

.jumpy-letter {
  display: inline-block;
  animation: jumpy 1.2s ease-in-out infinite;
  letter-spacing: 0px;
}

@keyframes jumpy {
  0%,
  100% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(0);
  }
}

.jumpy-gap {
  display: inline-block;
  width: 100px; // ajuste la largeur selon l’effet visuel que tu veux
}

//Carousel

.carouselContainer {
  max-width: 100vw;
  position: absolute;
  top: 2500px;
  z-index: 3;
}

#carousel1 .item {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 420px;
  height: 420px;
  border-radius: 10px;
  border: 5px solid $Purple2;
  background: $Purple2;

  cursor: pointer;
}

#carousel1 .item img {
  width: auto;
  height: 400px;
}
.carouselTrack {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;

  gap: 2rem; //ICI!
}

.carouselContainer[data-animated="true"] {
  overflow: hidden;
  padding: 10px 0 10px 0;
  background: $Black;
}

[data-animated="true"] .carouselTrack {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll 30s linear infinite;
}

[data-animated="true"] .carouselTrack:hover {
  animation-play-state: paused;
}

.carouselTrack .item:hover {
  border: 5px solid $Purple1 !important;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 1rem)); //MOITIER DU GAP DE carouselTrack
  }
}

//Carousel2

#carousel2 {
  top: 3650px;
}

#carousel2 .item {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 300px;
  height: 50px;
  border-radius: 10px;

  background: $Purple2;
}

.carouselContainer .carouselTrack2 {
  color: $Purple3;
  font-size: 35px;
}

[data-animated="true"] .carouselTrack2 {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll2 25s linear infinite;
}

.carouselTrack2 {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;

  gap: 2rem; //ICI!
}

@keyframes scroll2 {
  to {
    transform: translate(calc(-50% - 1rem)); //MOITIER DU GAP DE carouselTrack
  }
}

//Carousel 3

#carousel3 {
  top: 3850px;
}

#carousel3 .item {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 200px;
  height: 200px;
  border-radius: 10px;

  background: $Purple2;
}

[data-animated="true"] .carouselTrack3 {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll3 20s linear infinite;
}

.carouselTrack3 {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;

  gap: 2rem; //ICI!
}

@keyframes scroll3 {
  to {
    transform: translate(calc(-50% - 1rem)); //MOITIER DU GAP DE carouselTrack
  }
}

//popup project

.popup {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 9999;
}

.popup.active {
  opacity: 1;
  pointer-events: auto;
}

.popup-content {
  background: rgb(25, 24, 24);
  padding: 30px;
  border-radius: 12px;
  max-width: 80vw;
  height: 80vh;
  text-align: center;
  color: #bb95f8;
  position: relative;

  display: flex;
  justify-content: space-around;
}

.popup-text {
  width: 40%;
  text-align: left;
}

.popup-text h2 {
  font-size: 55px;
}

.popup-text h2 strong {
  color: $Purple1;
  font-size: 35px;
}

.popup-text h3 {
  font-size: 35px;
  color: $Purple1;
}

.popup-text p {
  line-height: 30px;
  font-size: 20px;
}

.popup-text p strong {
  font-weight: normal;
  color: $Purple1;
}
.popup-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  width: 35%;

  border-radius: 30px;
}

.popup-images img {
  width: 90%;
  border-radius: 5px;
}

.close-btnProject {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 55px;
  color: $Purple2;
  cursor: pointer;
}

//fade in effect

.miniMe {
  animation: fade-in-right 2s linear;
}

.miniS {
  animation: fade-in-left 2s linear;
}

.prop1 {
  animation: fade-in-left linear;
  animation-timeline: view();
  animation-range-start: cover;
  animation-range-end: 350px;
}

.miniR,
.miniRP {
  animation: fade-in-right linear;
  animation-timeline: view();
  animation-range-start: cover;
  animation-range-end: 350px;
}

@keyframes fade-in-left {
  from {
    transform: translateX(-200px);

    opacity: 0.2;
  }
  to {
    transform: translateX(0px);

    opacity: 1;
  }
}

@keyframes fade-in-right {
  from {
    transform: translateX(200px);

    opacity: 0.2;
  }
  to {
    transform: translateX(0px);

    opacity: 1;
  }
}

//text

.acceuil h2,
.aboutMe h2,
.aboutMe p,
.projects h2,
.skills h2,
.contact h2,
.contact h3 {
  position: absolute;
  font-size: 55px;
  z-index: 4;
}

#underTitle1,
.highlight1,
#codeAnimation {
  top: 190px;
  left: 690px;
}

#underTitle2,
.highlight2,
#magicAnimation {
  top: 270px;
  left: 690px;
}

#codeAnimation,
#magicAnimation {
  color: $Purple2;
  left: 1000px;
}
.underTitle3,
.highlight3 {
  top: 700px;
  left: 415px;
  color: $Purple2;
}

#underTitle4,
.highlight4 {
  top: 1200px;
  left: 400px;
}

#underTitle5,
.highlight5 {
  top: 1400px;
  left: 750px;

  font-size: 25px;
  line-height: 40px;
  color: $Purple2;
}

#underTitle6,
.highlight6 {
  top: 2300px;
  left: 750px;
}

#underTitle7,
.highlight7 {
  top: 3400px;
  left: 1200px;
}

#underTitle8,
.highlight8 {
  top: 4500px;
  left: 200px;
  z-index: 5;
}

#underTitle9,
.highlight9 {
  top: 4700px;
  left: 400px;

  font-size: 35px;

  z-index: 3;
}

#underTitle10,
.highlight10 {
  top: 4800px;
  left: 400px;

  font-size: 35px;

  z-index: 5;
}

//highlight effect

.highlight1,
.highlight2,
.highlight3,
.highlight4,
.highlight5,
.highlight6,
.highlight7,
.highlight8,
.highlight9,
.highlight10 {
  position: absolute;
  z-index: 3;

  height: 70px;

  background: $Purple3;

  margin-top: 42px;
}

.leftHighlight {
  transform: translateX(-50vw);
  left: 0;
}

.rightHighlight {
  transform: translateX(50vw);
}

#colorChange {
  background: $Purple1;
}

.highlight1 {
  width: 60vw;
}

.highlight2 {
  width: 70vw;
  left: 30vw;
}

.highlight3 {
  width: 66.5vw;
}

.highlight4 {
  width: 44vw;
}

.highlight5 {
  width: 69vw;
  height: 330px;
  left: 31vw;
  top: 1375px;
}

.highlight6 {
  width: 65vw;
}

.highlight7 {
  width: 47vw;
  left: 53vw;
}

.highlight8 {
  width: 37.5vw;

  z-index: 4;
}

.highlight9 {
  width: 58.5vw;
  top: 4675px;

  z-index: 2;
}
.highlight10 {
  width: 55.5vw;
  top: 4775px;
  z-index: 4;
}

//fix test

.carouselContainer {
  display: none;
}

.carouselContainer.show {
  display: block;
}

//pathObjects
#pathItem1 {
  position: absolute;
  z-index: 1;
  top: 900px;
  left: 100px;

  opacity: 0;
}

#pathItem2 {
  position: absolute;
  z-index: 1;
  top: 1800px;
  left: 200px;

  opacity: 0;
}

#pathItem3 {
  position: absolute;
  z-index: 1;
  top: 2820px;
  left: 140px;
  opacity: 0;
}

#pathItem4 {
  position: absolute;
  z-index: 3;
  top: 3920px;
  left: 0px;
}
