@import "font";

.contact {
  background-image: url("../images/bg1.png");
  background-size: cover;
  background-position: center;

  background-color: $Purple1;

  width: 100%;
  height: 100vh;
}

.section__boite {
  .contact__top {
    
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: space-between;
    
    .contact__miniL{margin-right: -10%;}

    .contact__etoile{margin-left: -4%;}

    .contact__etoile,
    .contact__miniL{
      transform: scale(85%);
    }
  }

  

}

.section__overlay {
  .contact__top {
    height: 80%;
    width: 100%;

    margin-left: 10%;

    .contact__links{
      @include fontStyle("moyen", $Purple2, "default");
    }

     a:hover{
      color: red !important;
    }
  }

  
  .contact__topTop {
    height: 50%;
    width: 100%;

    display: flex;
    align-items: flex-end;
  }

  .contact__topBottom {
    height: 50%;
    width: 100%;

    margin-left: 5%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .contact__bottom {
    height: 20%;
    width: 100%;
  }
}
