@import "font";

.intro {
  background: rgb(192, 251, 192);
  width: 100%;
  height: 100vh;
}

h1 {
  @include fontStyle("grand", $Pink, "default");
}

.section__boite {
  .intro__top {
    background: red;
    height: 50%;
    width: 100%;
  }

  .intro__bottom {
    background: rgb(113, 59, 59);
    height: 50%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .intro__topTop {
    background: rgb(34, 0, 255);
    height: 60%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .intro__navBar {
    background-color: rgb(238, 255, 0);
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    a {
      @include fontStyle("moyen", $Pink, "default");
    }
  }

  .intro__topBottom {
    background: rgb(59, 63, 113);
    height: 40%;
    width: 100%;

    display: flex;
    justify-content: center;
  }
}

.section__overlay {



  .intro__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    
    

    .intro__miniS{
        
height: fit-content;
        width: 25%; 

    }

    .intro__miniMe{

        height: fit-content;

        width: 45%; 
        margin-right: -10%;
    }
  }
}
