@import "font";

.intro {
  background-image: url("../images/bg1.png");
  background-size: cover;
  background-position: center;

  background-color: $Purple1;

  width: 100%;
  height: 100vh;
}

h1 {
  @include fontStyle("grand", $Purple2, "default");
}

.section__boite {
  .intro__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 100%;

    .intro__miniS {
      height: fit-content;
      width: 25%;

      margin-left: -3%;
    }

    .intro__titreBoite {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;

      width: 100%;
      height: 100%;
    }

    .intro__titre {
      margin-bottom: -8%;
      width: 70%;
      height: fit-content;
    }

    .intro__miniMe {
      height: fit-content;

      width: 45%;
      margin-right: -10%;
    }
  }
}

.section__overlay {
  .intro__top {
    height: 50%;
    width: 100%;
  }

  .intro__bottom {
    height: 50%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .intro__topTop {
    height: 60%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .intro__navBar {
    background-color: $Black;
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 20;

    a {
      @include fontStyle("moyen", $Purple2, "default");
    }

    a:hover{
      color: red;
    }
  }

  .intro__topBottom {
    height: 40%;
    width: 100%;

    display: flex;
    justify-content: center;
  }
}
