@import "font";


.popup-menu {
  display: none; /* Masqué par défaut */
  position: fixed;
  top: 0; left: 0; width: 100vw; height: 100vh;
  z-index: 9;
  align-items: center;
  justify-content: center;
}
.popup-menu--ouvert {
  display: flex;
}
.popup-menu__overlay {
  position: absolute;
  top: 0; left: 0; width: 100vw; height: 100vh;
  background: rgba(0,0,0,0.8);
  z-index: 9;
}
.popup-menu__contenu {
  position: relative;
  z-index: 10;

  width: 90%; height: 90%;
  
  background: #fff;
  /* Ajoute ton style */
}

