@charset "UTF-8";
@font-face {
  font-family: "mainFont";
  src: url("../style/MonumentExtended-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
body {
  background: #363636;
  margin: 0;
  font-size: 20pt;
  font-family: "mainFont";
  text-decoration: none !important;
  color: #bb95f8 !important;
  overflow-x: hidden;
}
body a {
  z-index: 50;
}
body h1,
body h2 {
  font-weight: normal !important;
}
body button {
  all: unset;
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 95%;
}

.MainContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

section {
  max-width: 95%;
  max-height: 100%;
  position: relative;
}

.section__boite {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.section__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  pointer-events: none;
}

@font-face {
  font-family: "mainFont";
  src: url("../style/MonumentExtended-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
.intro {
  background-image: url("../images/bg1.png");
  background-size: cover;
  background-position: center;
  background-color: #6930c4;
  width: 100%;
  height: 100vh;
}

h1 {
  font-size: 45pt;
  font-family: "mainFont";
  text-decoration: none !important;
  color: #bb95f8 !important;
}
h1 a {
  z-index: 50;
}
h1 h1,
h1 h2 {
  font-weight: normal !important;
}
h1 button {
  all: unset;
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 95%;
}

.section__boite .intro__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 100%;
}
.section__boite .intro__top .intro__miniS {
  height: fit-content;
  width: 25%;
  margin-left: -3%;
}
.section__boite .intro__top .intro__titreBoite {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.section__boite .intro__top .intro__titre {
  margin-bottom: -8%;
  width: 70%;
  height: fit-content;
}
.section__boite .intro__top .intro__miniMe {
  height: fit-content;
  width: 45%;
  margin-right: -10%;
}

.section__overlay .intro__top {
  height: 50%;
  width: 100%;
}
.section__overlay .intro__bottom {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section__overlay .intro__topTop {
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.section__overlay .intro__navBar {
  background-color: #363636;
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 20;
}
.section__overlay .intro__navBar a {
  font-size: 30pt;
  font-family: "mainFont";
  text-decoration: none !important;
  color: #bb95f8 !important;
}
.section__overlay .intro__navBar a a {
  z-index: 50;
}
.section__overlay .intro__navBar a h1,
.section__overlay .intro__navBar a h2 {
  font-weight: normal !important;
}
.section__overlay .intro__navBar a button {
  all: unset;
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 95%;
}
.section__overlay .intro__navBar a:hover {
  color: red;
}
.section__overlay .intro__topBottom {
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.aPropos {
  background-image: url("../images/bg2.png");
  background-size: cover;
  background-position: center;
  background-color: #653080;
  width: 100%;
  height: 100vh;
}

.section__boite .aPropos__top {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
}
.section__boite .aPropos__tasse {
  width: 100%;
  height: fit-content;
  margin-left: -2%;
}

.section__overlay .aPropos__top {
  height: 30%;
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: 10%;
}
.section__overlay .aPropos__bottom {
  height: 70%;
  width: 100%;
}
.section__overlay .aPropos__texte {
  margin-left: 20%;
}

.projets {
  background-image: url("../images/bg1.png");
  background-size: cover;
  background-position: center;
  background-color: #6930c4;
  width: 100%;
  height: 100vh;
}

.section__boite .projets__top {
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}
.section__boite .projets__bottom {
  height: 70%;
  width: 100%;
}
.section__boite .projets__bottom .carouselContainer {
  max-width: 100vw;
  z-index: 5;
}
.section__boite .projets__bottom #carousel1 .item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 420px;
  height: 420px;
  border-radius: 10px;
  border: 5px solid #bb95f8;
  background: #bb95f8;
  cursor: pointer;
}
.section__boite .projets__bottom #carousel1 .item img {
  width: auto;
  height: 400px;
}
.section__boite .projets__bottom .carouselTrack {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.section__boite .projets__bottom .carouselContainer[data-animated=true] {
  overflow: hidden;
  padding: 10px 0 10px 0;
  background: #363636;
}
.section__boite .projets__bottom [data-animated=true] .carouselTrack {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll 30s linear infinite;
}
.section__boite .projets__bottom [data-animated=true] .carouselTrack:hover {
  animation-play-state: paused;
}
.section__boite .projets__bottom .carouselTrack .item:hover {
  border: 5px solid #6930c4 !important;
}
@keyframes scroll {
  to {
    transform: translate(calc(-50% - 1rem));
  }
}
.section__boite .projects__miniR {
  height: 100%;
  width: fit-content;
}

.section__overlay .projets__top {
  height: 30%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section__overlay .projets__bottom {
  height: 70%;
  width: 100%;
}

@font-face {
  font-family: "mainFont";
  src: url("../style/MonumentExtended-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
.popup-menu {
  display: none; /* Masqué par défaut */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9;
  align-items: center;
  justify-content: center;
}

.popup-menu--ouvert {
  display: flex;
}

.popup-menu__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9;
}

.popup-menu__contenu {
  position: relative;
  z-index: 10;
  width: 90%;
  height: 90%;
  background: #fff;
  /* Ajoute ton style */
}

@font-face {
  font-family: "mainFont";
  src: url("../style/MonumentExtended-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
.competences {
  background-image: url("../images/bg2.png");
  background-size: cover;
  background-position: center;
  background-color: #653080;
  width: 100%;
  height: 100vh;
}

.section__boite .competences__top {
  height: 30%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.section__boite .competences__top .competences__titre {
  margin-right: 10%;
}
.section__boite .competences__bottom {
  height: 70%;
  width: 100%;
}

.section__overlay .competences__top {
  height: 50%;
  width: 100%;
}
.section__overlay .competences__bottom {
  height: 50%;
  width: 100%;
}
.section__overlay .competences__bottom #carousel3 {
  top: 3850px;
  background: #363636;
}
.section__overlay .competences__bottom #carousel3 .item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  border-radius: 50px;
  background: #bb95f8;
}
.section__overlay .competences__bottom [data-animated=true] .carouselTrack3 {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll3 20s linear infinite;
}
.section__overlay .competences__bottom .carouselTrack3 {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
@keyframes scroll3 {
  to {
    transform: translate(calc(-50% - 1rem));
  }
}
.section__overlay .competences__topTop {
  height: 50%;
  width: 100%;
}
.section__overlay .competences__topBottom {
  height: 50%;
  width: 100%;
}
.section__overlay .competences__topBottom #carousel2 {
  top: 3650px;
  background: #363636;
}
.section__overlay .competences__topBottom #carousel2 .item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 50px;
  border-radius: 10px;
  background: #bb95f8;
}
.section__overlay .competences__topBottom .carouselContainer .carouselTrack2 {
  font-size: 30pt;
  font-family: "mainFont";
  text-decoration: none !important;
  color: #653080 !important;
}
.section__overlay .competences__topBottom .carouselContainer .carouselTrack2 a {
  z-index: 50;
}
.section__overlay .competences__topBottom .carouselContainer .carouselTrack2 h1,
.section__overlay .competences__topBottom .carouselContainer .carouselTrack2 h2 {
  font-weight: normal !important;
}
.section__overlay .competences__topBottom .carouselContainer .carouselTrack2 button {
  all: unset;
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 95%;
}
.section__overlay .competences__topBottom [data-animated=true] .carouselTrack2 {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll2 25s linear infinite;
}
.section__overlay .competences__topBottom .carouselTrack2 {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
@keyframes scroll2 {
  to {
    transform: translate(calc(-50% - 1rem));
  }
}

@font-face {
  font-family: "mainFont";
  src: url("../style/MonumentExtended-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
.contact {
  background-image: url("../images/bg1.png");
  background-size: cover;
  background-position: center;
  background-color: #6930c4;
  width: 100%;
  height: 100vh;
}

.section__boite .contact__top {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.section__boite .contact__top .contact__miniL {
  margin-right: -10%;
}
.section__boite .contact__top .contact__etoile {
  margin-left: -4%;
}
.section__boite .contact__top .contact__etoile,
.section__boite .contact__top .contact__miniL {
  transform: scale(85%);
}

.section__overlay .contact__top {
  height: 80%;
  width: 100%;
  margin-left: 10%;
}
.section__overlay .contact__top .contact__links {
  font-size: 30pt;
  font-family: "mainFont";
  text-decoration: none !important;
  color: #bb95f8 !important;
}
.section__overlay .contact__top .contact__links a {
  z-index: 50;
}
.section__overlay .contact__top .contact__links h1,
.section__overlay .contact__top .contact__links h2 {
  font-weight: normal !important;
}
.section__overlay .contact__top .contact__links button {
  all: unset;
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 95%;
}
.section__overlay .contact__topTop {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: flex-end;
}
.section__overlay .contact__topBottom {
  height: 50%;
  width: 100%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.section__overlay .contact__bottom {
  height: 20%;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
